\documentclass[11pt]{article}
\usepackage{amsmath,amssymb}
\usepackage[margin=1in]{geometry}
\title{\VAR{title}}
\author{\VAR{author}}
\date{\VAR{date}}
\begin{document}
\maketitle
\VAR{body}
\end{document}
